body {
   margin: 20px 200px;
   font-size: 16px;
   background-color: white;
   width: 700px;
}
h4 {
   margin-top: 50px;
}
pre {
   color: #006699;
   background-color: #f3f7f8;
}
pre.syntax {
   font-weight: bold;
   background-color: #dbffc8; /* #CCFF99; light green; */
}

td {
   padding: 10px 20px;
   font-size: 1em;
}